@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	/* Styles*/
	#menu-trigger {
  		display: block;
  		width: 40px;
  		height: 40px;
  		top:10px;
  		right: 10px;
  		background-repeat: no-repeat;
  		background-position: center center;
	}
	#menu-trigger.active{
		background-repeat: no-repeat;
  		background-position: center center;
	}
	nav.cl-effect-2 {
	  width: 240px;
	  margin-top: -125px;
	  margin-left: -120px;
	}
	.os-phrases h2 {
		font-size: 20px;
		font-weight: 70;
	}
	img.logo{
		width: 240px;
	}
	#main-menu a{
		font-family: 'semibold' !important;
		font-size: 30px !important;
		display: block;
		float: none;
		margin: 5px 0;
		padding: 0;
	}
	.slide-down{
		width: 24px;
		height: 15px;
		background-size: cover;
	}
	p.text-ab{
		width: 240px;
		font-size: 14px;
	}
	.text-ab.active.our{
		font-size: 20px;
	}
	.cbp-rfgrid.command > li{
		width: calc(100%/2) !important;
	}
	.cbp-rfgrid.command figure > figcaption > h2 {
	  font-size: 12px!important;
	  line-height: 20px!important;
	}
	.slide-fr a.text-ab{
		font-size: 16px;
		margin-top: -8px;
	}
	.all-works {
		bottom: 20px;
	}
	.all-works a{
		font-size: 14px;
	}
	.fp-controlArrow{
		background-size: cover;
		width: 16px;
		height: 27px;
		margin-top: -13px;
	}
	.fp-controlArrow.fp-prev {
    	left: 15px;
    	background: url(../../img/arrows-mob.png) no-repeat left center;
	}
	.fp-controlArrow.fp-next {
	    right: 15px;
	    background: url(../../img/arrows-mob.png) no-repeat right center;
	}
	.cs-owl-next, .cs-owl-prev, .fotorama__arr.fotorama__arr--next, .fotorama__arr.fotorama__arr--prev {
	  position: absolute!important;
	  z-index: 4!important;
	  top: 50%!important;
	  cursor: pointer!important;
	  width: 16px!important;
	  height: 27px!important;
	  margin-top: -13px!important;
	}
	.cs-owl-prev, .fotorama__arr.fotorama__arr--prev{
		left: 15px!important;
    	background: url(../../img/arrows-mob.png) no-repeat left center!important;
	}
	.fotorama__arr.fotorama__arr--next {
		right: 15px!important;
		background: url(../../img/arrows-mob.png)right center no-repeat!important;
	}
	.cnt-txt{
		padding: 20px 0 20px 25px;
	}
	.cnt-txt h3{
		font-size: 16px;
	}
	.cnt-txt p{
		font-size: 14px;
	}
	.cbp-rfgrid > li {
		position: relative;
		float: left;
		overflow: hidden;
		width: 100%; /* Fallback */
	}

}