/* Portrait and Landscape */
@media only screen
and (min-device-width: 601px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    #main-menu a{
        display: block;
        font-size: 34px !important;
        font-family: 'semibold' !important;
        float: none;
        margin: 5px 0;
        padding: 0;
    }
    .slide-down, .triger-down{
        width: 30px;
        height: 15px;
        background-size: cover;
    }
    .fp-controlArrow, .icon-back{
        width: 17px;
        height: 34px;
        background-size: cover;
    }
    .fp-controlArrow.fp-prev {
        left: 10px;
        background: url(../../img/arrows-mob.png) no-repeat left center;
    }
    .fp-controlArrow.fp-next {
        right: 10px;
        background: url(../../img/arrows-mob.png) no-repeat right center;
    }
    .os-phrases h2{
        font-size: 34px;
    }
    img.logo{
        width: 330px;
    }
    p.text-ab, a.text-ab{
        width: 400px;
        font-size: 24px !important;
    }
    .fotorama__arr.fotorama__arr--next, .fotorama__arr.fotorama__arr--prev {
        width: 17px !important;
        height: 34px !important;
        cursor: pointer !important;
    }
    .fotorama__arr.fotorama__arr--next{
        background: url(../../img/arrows-mob.png) no-repeat right center !important;
    }
    .fotorama__arr.fotorama__arr--prev{
        background: url(../../img/arrows-mob.png) no-repeat left center !important;
    }
    .cnt-txt{
        padding: 20px;
    }
    .cnt-txt h3{
        font-size: 18px;
    }
    .cnt-txt p{
        font-size: 16px;
    }
    nav.cl-effect-2{
        width: 600px;
        margin-left: -300px;
    }
    .cl-effect-2 a{
        font-size: 40px !important;
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    .cbp-rfgrid > li {
        position: relative;
        float: left;
        overflow: hidden;
        width: 50%;
        height: 200px  !important;
    }
    #fpreview{
        display: inline !important;
    }
    .cbp-rfgrid li .socials{
        left: 20px;
        top: 10px;
        z-index: 10;
    }
    figure.effect-honey figcaption::before,
    figure.effect-honey h2,
    figure.effect-honey h2 i {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    .capt{
        font-size: 30px;
    }
    .information{
        padding: 30px 20px;
    }
    .information h2, .information p{
        font-size: 20px;
    }
}